name: Deploy and Toggle Feature Flag

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Grant execution permission for deploy.sh
        run: chmod +x deploy.sh

      - name: Set up environment variables
        run: |
          echo "LD_PROJECT_KEY=${{ secrets.PROJECT_KEY }}" >> $GITHUB_ENV
          echo "LD_FEATURE_FLAG_KEY=${{ secrets.FEATURE_FLAG_KEY }}" >> $GITHUB_ENV

      - name: Deploy the application
        run: ./deploy.sh
        env:
          LD_ACCESS_TOKEN: ${{ secrets.LAUNCHDARKLY_API_KEY }}
          LD_PROJECT_KEY: ${{ secrets.PROJECT_KEY }}
          LD_FEATURE_FLAG_KEY: ${{ secrets.FEATURE_FLAG_KEY }}

      - name: Enable Feature in LaunchDarkly
        run: |
          curl -X PATCH "https://app.launchdarkly.com/api/v2/flags/${{ secrets.PROJECT_KEY }}/${{ secrets.FEATURE_FLAG_KEY }}" \
          -H "Authorization: Bearer ${{ secrets.LAUNCHDARKLY_API_KEY }}" \
          -H "Content-Type: application/json" \
          -d '{"on": true}'
